html{
    font-size: 16px;
}

body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit; /* Usa il colore del testo del contesto genitore */
}

#background{
    background-color: rgba(246, 193, 230, 1);
    width: 100%;
    height: 900px;
    padding: 2.6% 0px;
}

#main{
    display: flex;
    justify-content: center;
    margin: 0px 10.9%;
}

#change_password{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 465px;
    height: 750px;
    padding: 2.6% 4%;
    border: 3px solid black;
}


#change_password form{
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
}

#logo{
    width: 209px;
    height: 53px;
}

#main h1{
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 24px;   
    font-size: clamp(14px, 2.5vw, 1.7rem);  
}


#change_password a{
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 700;
    line-height: 22px;
    font-size: clamp(12px, 2vw, 1.3rem); 
    width: fit-content;
    padding-bottom: 4px;
}


#change_password a:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}

#change_password .input{
    font-family: "Ysabeau Infant", sans-serif;
    font-size: clamp(14px, 2.5vw, 1.3rem); 
    border: none;
    border-bottom: 3px solid black;
    outline: none;
}

#show_pss{
    width: 25px;
    height: 16px;
    object-fit: cover;
}

#show_pss:hover{
    cursor: pointer;
}

#change_password .button{
    width: fit-content;
    background-color: black;
    border-radius: 0px;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-size: clamp(14px, 2.5vw, 1.5rem); 
    color: white;
    margin-top: -16px;
    border: 0px;
}

#change_password .button:hover{
    transform: scale(1.03); /* Ingrandisce leggermente al passaggio */
}

.error{
    margin: 0px;
    color: #ec5252;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-size: 1rem;
    line-height: 15px; 
}


.error_php{
    margin: 0px;
    color: #ec5252;
    font-size: clamp(14px, 2vw, 1.3rem) !important; 
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    line-height: 15px; 
}

.error_input{
    border-bottom-color:#ec5252 !important; /*senza important non funziona*/
}

.hidden{
    display: none;
}

.right{
    margin: 0px;
    color: #75f075;
    font-size: 0.6rem;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width: 650px) {
    #background{
        height: 100%;
    }
    
    #change_password{
        width: 280px;
        height: 550px;
    }

    #logo{
        width: 140px;
        height: 35px;
        object-fit: cover;
    }

    #main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        margin: 0px;
    }
}